@import '~antd/dist/antd.css';
@import "~react-loader-spinner/dist/loader/css/react-spinner-loader.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import "variables";
@import "mixin";

@import "container";
@import "transition";
@import "notification";

@import "buttons";
@import "input";
@import "avatar";

@import "menu";
@import "panel";
@import "header";

@import "auth";
@import "chat";


*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
  color: $black-100;
}