@import "variables";
@import "mixin";

.dialog-panel {
  border-right: 1px solid $white-300;
  height: 100%;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__icon {
      cursor: pointer;
      display: inline-block;
      margin-right: 20px;
    }

    &__title {
      margin: 0;
      padding: 0;
      font-size: 16px;
      user-select: none;
      color: $black-100;
    }
  }

  &__content {
    width: 100%;
    padding: 20px 0;
    display: block;
  }

  &__search {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  &__list {
    @include list-reset;
    height: calc(100vh - 175px);
    padding-bottom: 50px;
    overflow-y: auto;

    &__item {
      width: 100%;
      cursor: pointer;
      padding: 20px;

      &.active {
        background: $white-400;
      }

      &:hover {
        background: $white-200;
      }
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__avatar {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &__content {
      display: block;

      &__name,
      &__message {
        margin: 0;
        padding: 0;
        font-weight: 600;
      }

      &__name {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 2px;
      }

      &__message {
        opacity: 0.4;
      }
    }

    &__time,
    &__unread,
    &__read {
      position: absolute;
      margin: 0;
      padding: 0;
    }

    &__time {
      top: 0;
      right: 0;
      opacity: 0.4;
      display: inline-block;
      font-size: 14px;
    }

    &__unread,
    &__read {
      bottom: -10px;
      right: 0;
    }

    &__unread {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid $white-200;
      background-color: $red-100;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-base;
      font-weight: 900;
    }

    &__read {
      color: $blue-200;
    }
  }
}
