//notification
$bg-info: #2f96b4;
$bg-error: #bd362f;
$bg-success: #51a351;
$bg-warning: #f89406;

//COLOR
//black
$black-base: #000;
$black-100: #202020;
//red
$red-base: #ff0000;
$red-100: #F46B6B;
$red-200: #ff4500;
//green
$green-base: #008000;
$green-100: #228b22;
$green-200: #00C980;

//white
$white-base: #fff;
$white-100: #f7f7f7;
$white-200: #F7F8F9;
$white-300: #ddd;
$white-400: #F3F7FF;
//gray
$gray-base: #808080;
$gray-100: #adadad;
//blue
$blue-base: #0000ff;
$blue-100: #40a9ff;
$blue-200: #0C8FE4;
$blue-300: #096dd9;

//duration
$duration-menu: 0.3s;

//box-shadow
$base-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);